pyodide-build==0.32.0
# TODO: Auto-update latest stable from https://raw.githubusercontent.com/pyodide/pyodide/refs/heads/main/pyodide-cross-build-environments.json
# pyodide-xbuildenv==0.29.0 # See main.yml
