pyodide-build==0.30.9
# TODO: Auto-update latest stable from https://raw.githubusercontent.com/pyodide/pyodide/refs/heads/main/pyodide-cross-build-environments.json
# pyodide-xbuildenv==0.29.3 # See main.yml
