on: [ "push", "pull_request", "workflow_dispatch" ]

jobs:
  build_wheels:
    runs-on: "ubuntu-24.04"
    strategy:
      fail-fast: false
      matrix:
        package: [ "cadquery-ocp-novtk", "lib3mf" ]
        build_type: [ "Release", "Debug" ]
        include: # Extends and overrides the matrix for specific configurations
          - build_type: "Release"
            cflags: "-O3"
            cxxflags: "-O3"
            ldflags: "-O3"
          - build_type: "Debug"
            cflags: "-Og -g"
            cxxflags: "-Og -g"
            ldflags: "-Og -g -gsource-map=inline"

          - pyodide_args: ""
          - package: "cadquery-ocp-novtk"
            pyodide_args: "--exports=whole_archive"  # Avoids missing symbols due to custom emscripten exports

          - package: "cadquery-ocp-novtk"
            build_type: "Release"
            ldflags: "-O1" # XXX: See repair_wasm.py invocation in CMakeLists.txt
          - package: "cadquery-ocp-novtk"
            build_type: "Debug"
            ldflags: "-Og -g -gsource-map=inline -gseparate-dwarf" # Smaller debug files, default is too big for CI
    steps:
      - uses: "actions/checkout@v6"
        with:
          fetch-depth: 0 # Fetch all history for caching purposes

      - uses: "actions/cache@v5"
        id: "cache"
        with:
          path: |  # Same below!
            ${{ matrix.package }}/build
            !${{ matrix.package }}/build/*/_deps/*-src
            !${{ matrix.package }}/build/*/_deps/opencascade-build/src
            ${{ matrix.package }}/emsdk/upstream/emscripten/cache
          key: "build_wheels-${{ matrix.package }}-${{ matrix.build_type }}-${{ hashFiles('**/*.txt', '**/*.cmake', '**/pyproject.toml', '**/*.py') }}"
          restore-keys: |
            build_wheels-${{ matrix.package }}-${{ matrix.build_type }}-
            build_wheels-${{ matrix.package }}-

      - id: "xbuildenv_data"
        run: ".github/scripts/xbuildenv_data.sh"
      - uses: "actions/setup-python@v6"
        if: "steps.wheel_up_to_date.outputs.skip_build != 'true'"
        with:
          python-version: "${{ steps.xbuildenv_data.outputs.python_version }}"
          cache: 'pip' # caching pip dependencies

      - working-directory: "${{ matrix.package }}"
        if: "steps.wheel_up_to_date.outputs.skip_build != 'true'"
        run: | # Install dependencies
          sudo apt update && sudo apt install -y binaryen  # ccache does not seem to work on CI
          pip install -r ../requirements.txt
          pyodide xbuildenv install "${{ steps.xbuildenv_data.outputs.xbuildenv_version }}"
          pip install $(python -c 'import tomllib; cfg = tomllib.load(open("pyproject.toml", "rb")); print(*cfg["build-system"]["requires"])')
          git clone https://github.com/emscripten-core/emsdk emsdk-tmp  # Avoids non-empty directory error (CI cache)
          mkdir -p emsdk && ( mv emsdk-tmp/* emsdk-tmp/.[^.]* emsdk || true ) && rm -rf emsdk-tmp
          mkdir -p emsdk/upstream/emscripten/cache && find emsdk/upstream/emscripten/cache -type f -exec touch {} +  # XXX: Ensures cache is used

      - working-directory: "${{ matrix.package }}"
        if: "steps.wheel_up_to_date.outputs.skip_build != 'true'"
        run: | # Activate emsdk and build with pyodide
          cd emsdk && PYODIDE_EMSCRIPTEN_VERSION=$(pyodide config get emscripten_version) && ./emsdk install ${PYODIDE_EMSCRIPTEN_VERSION} && ./emsdk activate ${PYODIDE_EMSCRIPTEN_VERSION} && source emsdk_env.sh && cd ..
          pyodide build ${{ matrix.pyodide_args }}
        env:
          SKBUILD_CMAKE_BUILD_TYPE: "${{ matrix.build_type }}"
          SKBUILD_BUILD_TOOL_ARGS: "-d;explain;-v" # Useful to debug if caches are not working as expected
          CFLAGS: "${{ matrix.cflags }}"
          CXXFLAGS: "${{ matrix.cxxflags }}"
          LDFLAGS: "${{ matrix.ldflags }}"
          _FORCE_OLD_SOURCES: "TRUE" # XXX: Force old sources for the caches to be effective (CI-only issue due to redownloading of sources as it sometimes fails if sources are cached)
        timeout-minutes: 310 # This ensures that the following steps are run even if builds take way too long (mainly uploading caches for faster future builds!)

      - uses: "actions/upload-artifact@v6"
        with:
          name: "wheel-${{ matrix.package }}-${{ matrix.build_type }}"
          path: "${{ matrix.package }}/dist/*.whl"
          if-no-files-found: "error"  # Fail if no wheels are built, as this indicates a problem with the build process

      - if: "failure()" # Save cache even on failures
        uses: "actions/cache/save@v5"
        with:
          key: "${{ steps.cache.outputs.cache-primary-key }}"
          path: |  # Same below and above!
            ${{ matrix.package }}/build
            !${{ matrix.package }}/build/*/_deps/*-src
            !${{ matrix.package }}/build/*/_deps/opencascade-build/src
            ${{ matrix.package }}/emsdk/upstream/emscripten/cache

      - if: "always()"  # Upload cache and wheels as an artifact for debugging
        uses: "actions/upload-artifact@v6"
        with:
          name: "cache-${{ matrix.package }}-${{ matrix.build_type }}"
          include-hidden-files: true
          path: |  # Same above!
            ${{ matrix.package }}/build
            !${{ matrix.package }}/build/*/_deps/*-src
            !${{ matrix.package }}/build/*/_deps/opencascade-build/src
            ${{ matrix.package }}/emsdk/upstream/emscripten/cache

  build_package_index:
    needs: "build_wheels"
    runs-on: "ubuntu-24.04"
    steps:
      - uses: "actions/checkout@v6"
        with:
          ref: "gh-pages"

      - uses: "actions/download-artifact@v7"
        with:
          pattern: "wheel-*"
          path: "_wheels"

      - run: |
          wget "https://raw.githubusercontent.com/yeicor/OCP.wasm/${{github.ref}}/util/package_index.py" -O _package_index.py
          find # For debugging
          python3 _package_index.py --wheels . _wheels --output .  # Overwrites matching versions (warnings are ok!)
          rm -rf _wheels _package_index.py

      - uses: "actions/upload-artifact@v6"
        with:
          name: "package-index"
          path: "."

  test_build123d_integration: # Test build123d integration using the wheels and package index generated above
    needs: "build_package_index"
    runs-on: "ubuntu-24.04"
    steps:
      - uses: "actions/checkout@v6"

      - uses: "actions/download-artifact@v7"
        with:
          name: "package-index"
          path: "package-index"

      - id: "xbuildenv_data"
        run: ".github/scripts/xbuildenv_data.sh"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "${{ steps.xbuildenv_data.outputs.python_version }}"
          cache: 'pip' # caching pip dependencies

      - working-directory: "build123d"
        run: |
          set -ex -o pipefail
          
          # Update package index links to point to the local files
          to_remove="https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/"
          package_index_folder="$(realpath $(pwd)/../package-index)/"
          find "$package_index_folder" -type f -exec sed -i "s|${to_remove}|file://${package_index_folder}|g" {} \;
          
          # Set up the Pyodide test environment
          pip install -r ../requirements.txt
          pyodide xbuildenv install "${{ steps.xbuildenv_data.outputs.xbuildenv_version }}"
          pyodide venv .venv-pyodide
          . .venv-pyodide/bin/activate
          
          # Install build123d and run tests (stable and dev versions)
          build123d_stable_version="$(grep -oP 'build123d==\K[0-9.]+' requirements-stable.txt)"
          function test_build123d_branch() {
            local branch="$1"
            echo "Testing build123d branch: $branch"
            # XXX: There is a bug causing async tests to stop at a random point,
            # so retry until the output contains the proper completion statement or we give up (assume okay then)
            local max_retries=50
            local attempt=1
            while [ $attempt -le $max_retries ]; do
              FORCE_COLOR=1 OCP_WASM_INDEX_URL="file://$package_index_folder" python test.py "$branch" | tee -a test.log
              if grep -q "All tests passed successfully!" test.log; then
                echo "Tests finished successfully on attempt $attempt for build123d version $version"
                break
              else
                echo "Tests did not finish on attempt $attempt for build123d version $version (known async issue), retrying..."
                attempt=$((attempt + 1))
              fi
            done
            if [ $attempt -gt $max_retries ]; then
              echo "Warning: Tests did not finish after $max_retries attempts for build123d version $version (assuming okay)"
            fi
          }
          test_build123d_branch "v$build123d_stable_version"
          test_build123d_branch "dev"

      - uses: "actions/upload-artifact@v6"
        if: "always()"
        with:
          name: "test-build123d-integration-log"
          path: "build123d/test.log"

  deploy_package_index:
    needs: "test_build123d_integration"
    if: "github.ref == 'refs/heads/master'"
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0   # required to delete/replace branch

      - uses: actions/download-artifact@v7
        with:
          name: "package-index"
          path: "."

      - run: |
          set -e

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Create orphan branch with no history
          git checkout --orphan gh-pages-clean

          # Remove everything from index and working tree
          git rm -rf . || true

          # Re-add only the new artifact files
          git add -v .

          # Commit single snapshot
          git commit -m "Deploy package index (single-snapshot)"

          # Replace gh-pages branch completely
          git branch -D gh-pages || true
          git branch -m gh-pages

          # Force-push rewritten history
          git push --force origin gh-pages


  # TODO: deploy_wheels_to_pypi: (doesn't support WebAssembly)
